<style>
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #a3edff;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #a3edff;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #8589ff;
  background-color: transparent;
  text-decoration: underline;
}
</style>
